@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&family=Sofia+Sans:wght@300;400&display=swap');

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #488395;
  color: white;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
}

body .main{
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 300;
}