.lokasiContainer{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    margin: 20px;
}

.inputJadwal{
    width: 30vw;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    border: none;
    border-radius: 8px;
}

.backLink{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    box-sizing: border-box;
    background-color: #34606e;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
}

.perkota{
    box-sizing: border-box;
    color: #488395;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.jadwalContainer{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
}

.jadwalBox{
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #488395;
    font-size: 1.5em;
    border-radius: 8px;
    text-align: center;
}

.jadwalh1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px){
    .lokasiContainer{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
    .inputJadwal{
        width: 50vw;
        margin: 10px 20px;
    }
}

@media screen and (max-width: 450px){
    .lokasiContainer{
        grid-template-columns: 1fr;
    }
    .inputJadwal{
        width: 90%;
        font-size: 1.2em;

    }
    .jadwalContainer{
        margin-bottom: 10px;
        font-size: 1em;
        justify-content: center;
        grid-template-columns: repeat(2, 40%);
        align-content: center;
    }
}