@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&family=Sofia+Sans:wght@300;400&display=swap');

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 300;
}

.h1{
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
}

.btn{
    width: fit-content;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #488395;
    padding: .8em; 
    font-weight: 600;
    font-size: .9em;
}

.surahContainer{
    margin: auto;
}

.surah{
    width: 35vw;
    height: 100px;
    background-color: white;
    color: #488395;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 15px;
    gap: 1em;
    cursor: pointer;
}

.nomorSurah{
    border-radius: 100%;
    box-sizing: border-box;
    border: solid #488395 2px;
    font-size: 1.6em;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    font-family: 'Sofia Sans', sans-serif;
}

.infoSurah{
    position: relative;
    top: -20px;
    display: flex;
    gap: .5em;
}

.ayat{
    display: flex;
    width: 80vw;
    height: calc(fit-content + 20px);
    box-sizing: border-box;
    background-color: white;
    flex-direction: row;
    margin: 10px;
    color: #488395;
    align-items: center;
    border-radius: 10px;
    cursor: default;
}

.nomorAyat{
    border-radius: 100%;
    border: solid #488395 2px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 10px;
}

.ayatSection{
    font-size: 1.4em;
    width: 100%;
    margin-right: 20px;
}

.ayatArabic{
    font-size: 1.5em;
    text-align: right;
    font-family: 'Noto Naskh Arabic', serif;
}

@media screen and (max-width: 480px){
    .h1{
        text-align: center;
        font-size: 1.8em;
    }
    .surah{
        width: 85vw;
    }
    .nomorSurah{
        width: 40px;
        height: 40px;
        padding-top: 2px;
    }
    .infoSurah{
        margin-top: -10px;
        font-size: 1.2em;
    }
    .ayat{
        height: fit-content;
    }
    .ayatArabic{
        font-size: 1.2em;
    }
    .jumlah_ayat, .nama_latin{
        font-size: 1em;
    }
    .nomorAyat{
        font-size: 1.3em;
        width: 40px;
        height: 30px;
        margin: 10px;
        padding-top: 5px;
    }
}