.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
}

.h1{
    text-align: center;
    /* font-family: 'Sofia Sans', sans-serif; */
    font-weight: 400;
}

.btn{
    width: fit-content;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #488395;
    padding: .8em; 
    font-weight: 600;
    font-size: .9em;
}

.surahContainer{
    margin: auto;
}

.surah{
    width: 35vw;
    height: 100px;
    background-color: white;
    color: #488395;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 15px;
    gap: 1em;
    cursor: pointer;
    align-items: center;
}

.nomorSurah{
    border-radius: 100%;
    box-sizing: border-box;
    border: solid #488395 2px;
    font-size: 1.6em;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
}

.infoSurah{
    position: relative;
    top: -20px;
    display: flex;
    gap: .5em;
}

.surahArabic{
    font-family: var(--arabicFont);

}
.ayat{
    width: 80vw;
    height: calc(fit-content + 20px);
    box-sizing: border-box;
    background-color: white;
    margin: 10px;
    color: #488395;
    align-items: center;
    border-radius: 10px;
    cursor: default;
    position: relative;
    padding: 20px;
}

.nomorAyat{
    border-radius: 100%;
    border: solid #488395 2px;
    text-align: center;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -10px;
    left: 10px;
}

.ayatSection{
    font-size: 1.4em;
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ayatArabic{
    font-size: 1.5em;
    text-align: right;
    font-family: var(--arabicFont);
}
.ayatTranslate{
    border-bottom: solid 1px;
    font-family: var(--arabicFont);

}
.ayatTerjemahan, .ayatTranslate{
    text-align: left;
    font-weight: 200 !important;
    font-family: var(--arabicFont);

}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 780px){
    .h1{
        text-align: center;
        font-size: 1.8em;
    }
    .surah{
        padding: 0;
        gap: 0;
        height: fit-content;
        width: 95vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
    .nomorSurah{
        width: 40px;
        height: 40px;
        padding-top: 2px;
    }
    .infoSurah{
        margin-top: -10px;
        font-size: 1.2em;
    }
    .ayat{
        height: fit-content;
    }
    .ayatArabic{
        position: relative;
        top: 20px;
        font-size: 1em;
        text-align: right;
    }
    .ayatTranslate, .ayatTerjemahan{
        font-size: .8em;
    }
    .jumlah_ayat, .nama_latin{
        font-size: 1em;
    }
    .nomorAyat{
        font-size: 1.3em;
        width: 25px;
        height: 20px;
        margin: 10px;
        padding-bottom: 5px;
        top: 5px;
    }
    .surahArabic{
        text-align: center;
        font-size: 2em;
    }
    .btnContainer{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 400px){
    .main{
        font-size: .9em;
        text-align: center;
    }
    .main h1{
        font-size: 23px;
    }
    .btnContainer{
        padding: 0;
        gap: 10px;
    }
    .btn{
    }
}